.App {
    text-align: center;
}
body{
    background: linear-gradient(0.25turn, blue,red,yellow);

  
}
.imagen1{
    height: 200px;
}
.imagen2{
    height: 200p;
}
.btn btn-light{
    text-align: center;
}